# # # Klicky Probe
# [probe]
# pin: ^PA3

# x_offset: 0
# y_offset: 23.0
# z_offset: 4.6
# speed: 10
# samples: 3
# samples_result: median
# sample_retract_dist: 2.0
# samples_tolerance: 0.0075
# samples_tolerance_retries: 50

# probe home
#  X:45.200 Y:352.000 Z:6.340

# # Euclid Probe
[dockable_probe]
pin: ^PA3
dock_position: 47, 360, 7
#   The physical position of the probe dock relative to the origin of
#   the bed. The coordinates are specified as a comma separated x, y, z
#   list of values. Certain dock designs are independent of the z axis.
#   if a z value is provided for these configurations, the z axis will
#   be raised to that amount in order to prevent collisions.
#   This parameter is required.
approach_position: 118.9, 360, 7
#   The X,Y position where the toolhead needs to be prior to moving into the
#   dock so that the probe is aligned properly for docking or attaching.
#   This parameter is required.
detach_position: 47, 320, 7
#   Similar to the approach_position, the detach_position is the X,Y
#   where the toolhead is moved after the probe has been docked.
#   For magnetically coupled probes, this is typically perpendicular to
#   the approach_position in a direction that does not cause the tool to
#   collide with the printer.
#   This parameter is required
#safe_z_position: 0,0
#   Optional parameter. If the probe is being used to home the Z
#   axis, the toolhead will move to these xy coordinates prior to homing.
#   If this value is not provided, the center of the bed will be used.
#dock_retries:
#   The number of times to attempt to attach/dock the probe before raising
#   and error and aborting probing.
speed: 2
lift_speed:    10
detach_speed:  30   # 30
attach_speed:  30   # 30
travel_speed:  120   # 120
#   Optional speeds used during various moves. These will default to probe
#   speed if not specified.
check_open_attach:     True
#   The probe status should be verified prior to homing. Setting this option
#   to true will ensure the probe "endstop" is "open" if the probe is attached
#   and will abort probing if it reports "triggered" when docked
#probe_sense_pin:
#   This supplemental pin can be defined to determine an attached state
#   instead of check_open_attach
#dock_sense_pin:
#   This supplemental pin can be defined to determine a docked state in
#   addition to probe_sense_pin or check_open_attach
allow_delayed_detach: True
#   When true, the probe will stay attached to the toolhead after the
#   completion of a command in case there is another command requiring the
#   use of the probe in the command queue. Once all commands have completed,
#   the probe is docked. It is recommended to add the DETACH_PROBE command to
#   macros and slicer start gcode to ensure the probe is correctly detached.
#   See Annexed_Probe.md for more information
dock_fixed_z: True
#   Whether or not the dock is located independently of the Z axis such as
#   mounted to a moving gantry.
z_home_while_attached: True

pre_attach_gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
      G28 XY
    {% endif %}
    G28 Z
    G0 X100 Z7
#   An optional list of gcode commands to execute prior to attaching the probe
#attach_gcode:
#   An optional list of gcode commands used to attach the probe
post_attach_gcode:
    SAVE_GCODE_STATE NAME=post_attach_lift_save
      G91
      G0 Z20 F2400
    RESTORE_GCODE_STATE NAME=post_attach_lift_save

pre_detach_gcode:
    G28 Z

detach_gcode:
    SAVE_GCODE_STATE NAME=detach_lift_save
      G91
      G0 Z20 F2400
    RESTORE_GCODE_STATE NAME=detach_lift_save

# post_detach_gcode:

x_offset: 0
y_offset: 23.0
z_offset: 3.113

# drop_first_result: True
samples: 5
sample_retract_dist: 1
samples_result: median
# samples_tolerance: 0.02
# samples_tolerance_retries: 3
#activate_gcode:
#deactivate_gcode: